page-home {
    .toolbar-background {
        background: color($colors, primary);
      }

      .toolbar-title {
        color : #fff;
        text-align: left;
    }


      .custom-icon {
        // font-size: 64px;
        color : color($colors, light);
      }

      .master{
        background: #c3c3c3
      }

      .postcard{
        margin-top: 3px;
        margin-bottom: 6px;
      }

      button {
        ion-badge {
          position: absolute;
          top: -0.2rem;
          right: -0.2rem;
          background: color($colors, primary);
      
          & ~ ion-icon {
            margin-right: 1.4rem;
            color: white;
          }
        }
      }
     
      ul {
        padding: 0px;
       
        &.rating li {
          padding: 5px !important;
          background: none;
          color: #000;
       
          ion-icon {
            font-size: 35px;
          }
        }
      }

      .contentclass
        {
          margin-bottom: 1px !important;
          background: white;
    //  width: 80%;
    //  text-align: center;
    //  margin-left: 5px !important;
    //  margin-right: 5px !important;
}

// table#t01 tr:nth-child(even) {
//   // background-color: #c3c;
//   // text-align: center;
//   margin: 40px;
// }
// table#t01 tr:nth-child(odd) {
  // margin-right: 30px;
  // background-color: #fff;
  
// }
}