<ion-header >

  <ion-toolbar  align-title="left">
      <button ion-button left menuToggle>
        <ion-icon class="icon ion-home custom-icon" name="menu"></ion-icon>
      </button>
      <ion-title>CampusKonekt</ion-title>

      <!-- Button for testing the login page -->
      <ion-buttons end>
          <button ion-button icon-only>
            <ion-icon class="icon ion-home custom-icon" name="search"></ion-icon>
          </button>
      </ion-buttons>


      <ion-buttons end>
          <button ion-button icon-only>
              <ion-badge >5</ion-badge>
            <ion-icon class="icon ion-home custom-icon" name="notifications-outline"></ion-icon>
            
          </button>
      </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content color="primary">
<!--

      <ion-grid>

        <ion-row>

          <ion-col>
            <p style="padding-left:20px; font-size:17px">Contacts</p>

              <ion-item>
                  <ion-avatar style="zoom:150%"  item-start>
                    <img src="../../assets/imgs/banky.png">
                  </ion-avatar>


                  <ion-avatar style="zoom:150%"  item-start>
                      <img src="../../assets/imgs/genet.jpg">
                    </ion-avatar>

                    <ion-avatar style="zoom:150%"  item-start>
                        <img src="../../assets/imgs/banky.png">
                      </ion-avatar>

                      <ion-avatar style="zoom:150%" item-start>
                          <img src="../../assets/imgs/genet.jpg">
                        </ion-avatar>
                </ion-item>

                <p style="padding-left:20px; font-size:17px">Nearby</p>
                <ion-item>
                    <ion-avatar style="zoom:150%"  item-start>
                      <img src="../../assets/imgs/banky.png">
                    </ion-avatar>
  
  
                    <ion-avatar style="zoom:150%"  item-start>
                        <img src="../../assets/imgs/genet.jpg">
                      </ion-avatar>
  
                      <ion-avatar style="zoom:150%"  item-start>
                          <img src="../../assets/imgs/banky.png">
                        </ion-avatar>
  
                        <ion-avatar style="zoom:150%"  item-start>
                            <img src="../../assets/imgs/genet.jpg">
                          </ion-avatar>
                  </ion-item>
          </ion-col>

        </ion-row>

      </ion-grid> -->

      


      <ion-searchbar [(ngModel)]="searchstring" (input)="searchuser($event)" placeholder="search here"></ion-searchbar>
      
      <ion-buttons end>
          <button ion-button (click)="addgroup()" style="margin-bottom: 16px;margin-right: 8px">
            Add new group
          </button>
      </ion-buttons>

      <ion-list no-lines>
        <ion-list-header>
          All Users
        </ion-list-header>
        <ion-list>
          <ion-item-sliding *ngFor = "let key of filteredusers" >
            <ion-item>
              <ion-avatar item-left>
                <img src="{{key.photoURL}}">
              </ion-avatar>
              <h2>{{key.displayName}}</h2>
            </ion-item>


            <ion-item-options slide="left">
              <button ion-button color="primary" (click)="sendreq(key)">
                <ion-icon name="person-add"></ion-icon>
                Add
              </button>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-list>




      <ion-list no-lines style="margin-top:10px">
        <ion-list-header>
          My groups
        </ion-list-header>

        <ion-item *ngFor="let item of allmygroups" (click)="openchat(group)">
          <ion-avatar item-left>
            <img src="item.groupimage">
          </ion-avatar>

          <h3 (click)="getintogroup()">{{item.groupname}}</h3>
        </ion-item>
      </ion-list>
</ion-content>