<!--
  Generated template for the GroupschatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{groupName}}</ion-title>
    <ion-buttons end>
      <button *ngIf = "owner" ion-button icon-only (click)="presentOwnerSheet">
        <ion-icon name="menu"></ion-icon>
      </button>

      <button *ngIf="!owner" ion-button icon-only (click)="presentMemberSheet">
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="message-wrap">

    <div *ngFor="let item of allmessages; let i = index" text-wrap class="message"

         [class.left]="item.sentby === buddy.uid "
         [class.right]=" item.sentby != buddy.uid ">

        <div class="msg-detail">
            <div class="msg-info">
                <p *ngIf = "item.sentby === buddy.uid">{{buddy.displayName}}&nbsp;&nbsp;&nbsp;</p>
                <p *ngIf = "item.sentby != buddy.uid">{{username}}&nbsp;&nbsp;&nbsp;</p>
                
            </div>
            <div class="msg-content">
                <span class="triangle"></span>
                <p *ngIf = "!imgornot[i]"class="line-breaker ">{{item.message}}</p>
                <img *ngIf = "imgornot[i]" class="line-breaker " src="{{item.message}}">                
            </div>
        </div>
    </div>

</div>


</ion-content>
